@font-face {
  font-family: VT323;
  src: url('./assets/VT323-Regular.woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}
.dropdown:hover .dropdown-content {
  @apply block;
}
.text-gold {
  color: #e2c000;
}
.text-gold3 {
  color: #f5c31f;
}
.text-gold:hover {
  text-shadow: 0 0 20px #00f7ff;
}
.background-gold {
  background-color: #e2c000;
}
.background-gold2 {
  background-color: #e2c000;
}
.background-gold3 {
  background-color: #f5c31f;
}
.background-gold:hover {
  background-color: #00f7ff;
}
.background-gold3:hover {
  background-color: #00f7ff;
}
input::placeholder {
  opacity: 1;
  padding: 0.4rem;
}
input[type="text"] {
  padding-left: 0.4rem;
}
input[type="number"] {
  padding-left: 0.4rem;
}
.text-gold2 {
  color: #e2c000;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-red-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #fadede 0.89%,
    #f5bebe 17.23%,
    #f09d9d 42.04%,
    #eb7d7d 55.12%,
    #e65c5c 71.54%,
    #cf3333 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-gold-gradient {
  background: linear-gradient(
    157.81deg,
    #fffadf -43.27%,
    #fff5bf -21.24%,
    #ffed88 12.19%,
    #fde453 29.82%,
    #ffe02e 51.94%,
    #ffd900 90.29%
  );
}

.bg-red-gradient {
  background: linear-gradient(
    157.81deg,
    #fadede -43.27%,
    #f5bebe -21.24%,
    #f09d9d 12.19%,
    #eb7d7d 29.82%,
    #e65c5c 51.94%,
    #cf3333 90.29%
  );
}

.text-gold-gradient {
  background: linear-gradient(
    157.81deg,
    #d8b800 12.19%,
    #fff460 25.82%,
    #ffffff 51.94%,
    #fff460 74.94%,
    #d8b800 90.29%
  );
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hideSidebar {
  -webkit-animation: hide-side 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: hide-side 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes hide-side {
  to {visibility: hidden;}
}

.showSidebar {
  -webkit-animation: show-side 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shwo-side 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes shwo-side {
  to {visibility: visible;}
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }
}

.sidebar-close {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }
}


.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}