.base-rules:
    rules:
      - if: '$CI_COMMIT_BRANCH == "master"'
        changes:
          - webserver/*
          - backend-webserver/*
        when: always
      - if: '$CI_PIPELINE_SOURCE == "push"'
        when: never
      - if: $CI_COMMIT_TAG
        when: never

frontend:
  stages:
    - build
    - deploy
  tags: local_runner
  script:
    - echo frontend

  cache: &global_cache
    key: $CI_COMMIT_REF_SLUG
    policy: pull-push
    paths:
      - node_modules/
      - package-lock.json

  build:
    stage: build_stage
    extends: .base-rules
    before_script:
      - cd webserver
    script:
      - "node --version"
      - npm i
    cache:
      <<: *global_cache
      policy: push
    tags:
      - local_runner

  deploy:
    stage: deploy_stage
    extends: .base-rules
    before_script:
      - cd webserver
    script:
      - "pm2 start ecosystem.config.js"
    cache:
      <<: *global_cache
      policy: pull
    tags:
      - local_runner
backend:
    stages:
      - build
      - deploy
  tags: local_runner2
  script:
    - echo backend

  cache: &global_cache
    key: $CI_COMMIT_REF_SLUG
    policy: pull-push
    paths:
      - node_modules/
      - package-lock.json

  build:
    stage: build_stage
    extends: .base-rules
    before_script:
      - cd backend-webserver
    script:
      - "node --version"
      - npm i
    cache:
      <<: *global_cache
      policy: push
    tags:
      - local_runner2

  deploy:
    stage: deploy_stage
    extends: .base-rules
    before_script:
      - cd backend-webserver
    script:
      - "pm2 start ecosystem.config.js"
    cache:
      <<: *global_cache
      policy: pull
    tags:
      - local_runner2