stages:
  - build_stage
  - deploy_stage
  - build_stage2
  - deploy_stage2

.base-rules:
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - frontend-webserver/*
      when: always
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never
    - if: $CI_COMMIT_TAG
      when: never
.base-rules2:
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - backend-webserver/*
      when: always
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never
    - if: $CI_COMMIT_TAG
      when: never

cache: &global_cache
  key: $CI_COMMIT_REF_SLUG
  policy: pull-push
  paths:
    - node_modules/
    - package-lock.json

build:
  stage: build_stage
  extends: .base-rules
  before_script:
    - cd frontend-webserver/server
  script:
    - "node --version"
    -  "npm i"
  cache:
    <<: *global_cache
    policy: push
  tags:
    - local_runner

deploy:
  stage: deploy_stage
  extends: .base-rules
  before_script:
    - cd frontend-webserver/server
  script:
    - "pm2 start ecosystem.config.js"
  cache:
    <<: *global_cache
    policy: pull
  tags:
    - local_runner

build2:
  stage: build_stage2
  extends: .base-rules2
  before_script:
    - cd backend-webserver
  script:
    - "node --version"
    - "npm i"
  cache:
    <<: *global_cache
    policy: push
  tags:
    - local-runner2

deploy2:
  stage: deploy_stage2
  extends: .base-rules2
  before_script:
    - cd backend-webserver
  script:
    - "pm2 start ecosystem.config.js"
  cache:
    <<: *global_cache
    policy: pull
  tags:
    - local-runner2
